body {
    background-color:#0A100D;
    color: #D6D5C9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

header {
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:40px;
    color:#C3A995;
    text-align: center;
}

p {
    text-align: center;
    color: #D6D5C9;
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

li {
    text-align: center;
    list-style-type: none;
}