body {
    background-color:#1B1B1B;
    color: #D2691E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

header {
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:40px;
    color:#D2691E;
    text-align: center;
}

p {
    text-align: center;
    color: whitesmoke;
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
